package {{invokerPackage}};

import java.util.HashMap;
import java.util.Map;

public class Select {
	private String name;
	private Map<String, String> variables = new HashMap<String, String>();
	
	public Select(){}
	public Select(String name){
		this.name = name;
	}

	public String getName() {
		return name;
	}

	public void setName(String name) {
		this.name = name;
	}

	public Map<String, String> getParameters() {
		return variables;
	}

	public void setParameters(Map<String, String> variables) {
		this.variables = variables;
	}
	
	public void setParameter(String name, String value){
		this.variables.put(name, value);
	}
	
	public void removeParameter(String name){
		this.variables.remove(name);
	}
}
